<%= render partial: "posts/partials/header", locals: { post: post } -%>
<div class="container">
  <%= form_with(model: post, local: true) do |form| %>
      <% if post.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

            <ul>
              <% post.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
              <% end %>
            </ul>
          </div>
      <% end %>
      <div class="form-group">
        <label for="exampleFormControlInput1">Title</label>
        <%= form.text_field :title, class: "form-control", placeholder: "Enter your Post title.." %>
      </div>
      <div class="form-group">
        <label for="exampleFormControlTextarea1">Content</label>
        <%= form.text_area :content, class: "form-control", placeholder: "Enter your Post..", rows: "7" %>
      </div>
      <div class="btn btn-primary">
        <%= form.submit(class: "btn btn-primary")%>
      </div>
  <% end %>
</div>
